---
---
{{ bibliography }}

{%  if entry.type == "misc" %}
<p>{{entry.abstract}}: <i><b><span style="color:#60a0ce">"{{entry.title}}"</span></b></i>,
  {% if entry.institution %}
    {{entry.institution}},
  {% endif %}
  {% if entry.address %}
    {{entry.address}}.
  {% endif %}
  {% if entry.url %}
    {% if entry.url contains '.pdf' %}
      <a href="{{entry.url}}" target="_blank"> <img src="../assets/images/icon_pdf.png"></a>
    {% elsif entry.url contains '.pptx' %}
      <a href="{{entry.url}}" target="_blank"> <img src="../assets/images/icon_pptx.png"></a>
    {% else %}
      <a href="{{entry.url}}" target="_blank"> <img src="../assets/images/icon_url.png"></a>
    {% endif %}
  {% endif %}
</p>
{% else %}
  {% if entry.title %}
  <p>{{entry.author}}, <i><b><span style="color:#60a0ce">"{{entry.title}}"</span></b></i>,
    {% if entry.type == "inproceedings" %}
      In Proceedings of the {{entry.booktitle}}
    {% endif %}
    {{entry.year}},
    {% if entry.pages %}
      (pp. {{entry.pages}}),
    {% endif %}
    {% if entry.month %}
      {{entry.month}},
    {% endif %}
    {% if entry.year %}
      {{entry.year}},
    {% endif %}
    {% if entry.address %}
      {{entry.address}}.
    {% endif %}
  </p>
  {% endif %}
{% endif %}
